/* html element styling*/
a{
    text-decoration: none;
}
/* class element styling*/
.container{
    display: flex;
    justify-content: space-between;
    flex:1;
    flex-direction: column;
}
.first-name{
    animation: text-animation 5s linear forwards;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.last-name{
    animation: text-animation 5s linear forwards;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.copyright {
    text-align:left;
    font-size:small;
    color: #375268;
}
.enter-rotate{
    animation: enter-animation-rotate 5s linear forwards;
}
.enter{
    animation: enter-opacity 5s linear forwards;
}
.l-1, .l-3, .l-5, .l-7{
    animation: letter-animation 3s linear forwards;
    background-color: white;
    border: .75vh solid #375268;
    border-radius: 1.5vh;
    padding: 1.5vh;
}
.l-2, .l-4, .l-6, .l-8{
    animation: letter-animation-2 3s linear forwards;
    background-color: #375268;
    border: .75vh solid #375268;
    border-radius: 1.5vh;
    padding: 1.5vh;
}
/* id element styling*/
#enter{
    animation: enter-animation 5s linear 3s infinite;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: transparent;
    font-size: 5rem;
}
/* keyframes animations*/
@keyframes text-animation{
    0%{font-size: .25vh; transform: rotate(360deg);}
    10%{font-size: .5vh;}
    30%{font-size: .75vh;}
    40%{font-size: 1vh;}
    50%{font-size: 1.25vh;}
    60%{font-size: 1.5vh;}
    70%{font-size: 1.75vh;}
    80%{font-size: 2vh;}
    90%{font-size: 2.25vh;}
    100%{font-size: 2.5vh;}
}
@keyframes enter-animation-rotate{
    0%{font-size: .5vh; transform: rotate(90deg);}
    10%{font-size: 1vh;}
    30%{font-size: 1.5vh;}
    40%{font-size: 2vh;}
    50%{font-size: 2.5vh;}
    60%{font-size: 3vh;}
    70%{font-size: 3.5vh;}
    80%{font-size: 4vh;}
    90%{font-size: 4.5vh;}
    100%{font-size: 5vh;}
}
@keyframes letter-animation{
    0%{color: #375268;}
    20%{color: white; background-color: #375268;}
    40%{color: white; background-color: #375268;}
    60%{color: white; background-color: #375268;}
    80%{color: #375268;}
    100%{color: #375268;}
}
@keyframes letter-animation-2{
    0%{color: white}
    20%{color: #375268; background-color: white}
    40%{color: #375268; background-color: white}
    60%{color: #375268; background-color: white}
    80%{color: white}
    100%{color: white}
}
@keyframes enter-animation{
    0%{color: white; background-color: #375268;
        border: 1.5vh solid #375268; padding: 1.5vh;}
    10%{color: white; background-color: #375268;
        border: 1.5vh solid #375268; padding: 1.5vh;}
    20%{color: white; background-color: #375268;
        border: 1.5vh solid #375268; padding: 1.5vh;}
    30%{color:#375268; background-color: white;
        border: 1.5vh solid #375268; padding: 1.5vh;}
    40%{color:#375268; background-color: white;
        border: 1.5vh solid #375268; padding: 1.5vh;}
    50%{color:#375268; background-color: white;
        border: 1.5vh solid #375268; padding: 1.5vh;}
    60%{color:#375268; background-color: white;
        border: 1.5vh solid #375268; padding: 1.5vh;}
    70%{color:#375268; background-color: white;
        border: 1.5vh solid #375268; padding: 1.5vh;}
    80%{color: white; background-color: #375268;
        border: 1.5vh solid #375268; padding: 1.5vh;}
    90%{color: white; background-color: #375268;
        border: 1.5vh solid #375268; padding: 1.5vh;}
    100%{color: white; background-color: #375268;
            border: 1.5vh solid #375268; padding: 1.5vh;}
    }
 @keyframes enter-opacity{
    0%{opacity: 0;}
    100%{opacity: 1;}
 }
